.sidebar {
  float: left;
  background-color: rgba(255,255,255,0.8);
}

.quarters {
  height: 20%;
}

.quarters img {
    max-height: 100%;
    max-width: 100%;
    transition: 1.5s ease;
    -webkit-filter: blur(4px);
}
.quarters img:hover {
  -webkit-filter: blur(0px)
}

#background {
  background-image: url(./images/72.jpg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
}

.text {
}
